body {
    overflow-x: hidden;
    background-color: rgb(230, 230, 230);
}

/* .header{
    background-color: rgb(230, 230, 230);
}
.main{
    height: 300px;
    background-color: rgb(230, 230, 230);
} */

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.header__app-name{
    margin-left:9.9%;

}
.header__app-name a{
    text-decoration: none;
    color:rgb(58, 58, 247);
}

.hamburger {
    width: 3%;
    height: 5%;
    position: relative;
    position: fixed;
    border: 0 0 0;
    border-radius: 5px;
    background-color: rgb(58, 58, 247);
    box-shadow: 2px 2px 5px rgb(119, 118, 118);
    margin-left: 4.45%;

}

.icon1{
    position: absolute;
        width: 35%;
        height: 1px;
        background-color:white;
        top: 25%;
        left: 23%;
        right: 10%;
}
.icon2{
    position: absolute;
        width: 50%;
        height: 1px;
        background-color: white;
        top: 50%;
        left: 23%;
        right: 10%;
}
.icon3{
    position: absolute;
        width: 15%;
        height: 1px;
        background-color: white;
        top: 75%;
        left: 23%;
        right: 10%;
}
/* .hamburger span {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: blue;
} */

/* .hamburger span:first-of-type {
    ハンバーガーメニューの1番目の線
    top: 0;
}
.hamburger span:nth-of-type(2) {
    ハンバーガーメニューの2番目の線
    top: 50%;
}
.hamburger span:last-of-type {
    ハンバーガーメニューの3番目の線
    top: 100%;
} */

.slide-menu {
    margin-top: 12%;
    background-color:#fff;
    position: fixed;
    top: 65px;
    width: 100%;
    left: 0;
    transform: translateX(100%);
}

.slide-menu li {
    font-size: 35px;
    color: rgb(58, 58, 247);
    line-height: 250%;
    text-align: center;
    list-style: none;
}

.slide-menu a{
    text-decoration: none;
    color:rgb(58, 58, 247);
}

.hamburger.active span:first-of-type {
    /* ハンバーガーメニューの1番目の線 */
    width:60%;
    top: 50%;
    left: 20%;
    transform: rotate(45deg);
}

.hamburger.active span:nth-of-type(2) {
    /* ハンバーガーメニューの2番目の線 */
    opacity: 0;
    /* 透明にする */
}

.hamburger.active span:last-of-type {
    /* ハンバーガーメニューの3番目の線 */
    width: 60%;
    top: 50%;
    left:20%;
    transform: rotate(-45deg);
}

.slide-menu.active {
    transform: translateX(0);
}

.hamburger.active{
    margin-top: 91px;
    margin-left: 4.45%;
}

body.active{
    background-color: #fff;
}